<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Awesome website</title>
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <div class="page-container">
    <div class="nav-bar">
      <a class="logo" href="/">FS Classroom</a>
      <a href="/classrooms">Classrooms</a>
    </div>
